@page "/"

<div class="mb-5">
    <a href="/multipleparams" class="btn btn-primary">Multiple Params</a>
</div>

<div class="mb-5">
    <a href="/eventcallback" class="btn btn-primary">EventCallBack</a>
</div>

<div class="mb-5">
    <a href="/event-handler-example-1" class="btn btn-primary">EventCallBack Ex1</a>
</div>

<div class="mb-5">
    <a href="/event-handler-example-2" class="btn btn-primary">EventCallBack Ex2</a>
</div>

<div class="mb-5">
    <a href="/event-handler-example-3" class="btn btn-primary">EventCallBack Ex3</a>
</div>
